.campaign_form_step2_dropdown .Select-control > .Select-arrow-zone{     top: 50%; right: 15px;}
.campaign_form_step2_dropdown .Select-control{ border: 2px solid rgb(220, 223, 229) !important; }

#custom_calendar{
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 20px 26px 3px #dbdee0;
}

.sweet-alert h2{ font-size:22px; }
.sweet-alert .lead{ font-size:20px; }
.sweet-alert span .btn-danger,
.sweet-alert span .btn-default{
    font-size: 16px;
    margin-right: 8px;
    border-radius: 0px;
    border: 1px solid #b5adad;
}

.grp_list_img,.campaign_list_img{
    width: 100%;
    height: 160px;
}

.no_data_found{width:100%; text-align: center }

.plus-people button img{ max-width: 30px; margin: 5px 15px; }
.Select--multi .Select-value{ margin-top:1px; }

.cart-table table.table thead th{
    font-size: 13px;
    font-weight: 600;
}

/* Not Found */
    .notfound-main-div{ padding:10em; text-align: center; width: 80%; margin: 0 10em; }
    .notfound-inner-box{ box-shadow: 0px 2px 10px 2px #ccc; background-color: #fbfbfb; border-radius: 5px; padding: 20px; }
    .notfound-inner-box h1,
    .notfound-inner-box h2{ font-family: inherit; }
    .notfound-inner-box h2{ font-size:22px; color:#b8b9c0 }

/*****************************************************************
                        Custom Scroll
*****************************************************************/
    body::-webkit-scrollbar { width: 0.5em; }
    body::-webkit-scrollbar-track { box-shadow: inset 0 0 6px rgba(0,0,0,0.3); }
    body::-webkit-scrollbar-thumb { background-color: #6772e5; outline: 1px solid #6772e5; }

    .custom_scrollbar::-webkit-scrollbar { width: 0.4em; }
    .custom_scrollbar::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); }
    .custom_scrollbar::-webkit-scrollbar-thumb { background-color: #26A69A; outline: 1px solid slategrey; }

.add_grp_popup_select .Select-value,
.add_grp_popup_select .Select-placeholder,
.add_grp_popup_select .Select-input{ text-align: left;}
.add_grp_popup_select .Select-input{ display: block !important; }

.react-datepicker__header{
    background-color: #6772e5;
}

.react-datepicker__header .react-datepicker__current-month,
.react-datepicker__header .react-datepicker__day-name{
    color:#fff;
}

.react-datepicker__day--selected, 
.react-datepicker__day--in-selecting-range, 
.react-datepicker__day--in-range,
.react-datepicker__day--keyboard-selected,
.react-datepicker__day--keyboard-selected:hover{
    background-color: #6772e5;
}

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle, 
.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle::before {
    border-bottom-color: #6772e5;
}


/*****************************************************************
                        Calendar
*****************************************************************/
#custom_calendar button.fc-next-button,
#custom_calendar button.fc-prev-button{ background:transparent; border:0; box-shadow:none;}
#custom_calendar .fc-center h2{ font-size:18px;line-height: 36px;}
#custom_calendar th.fc-day-header { border:0; background:#e6ebf1; font-size:16px; color:#9b9c9c; padding:25px 25px 12px 15px; text-align:right; font-weight:400;}
#custom_calendar td.fc-head-container,
#custom_calendar .fc td, .fc th { border:0 !important;}
#custom_calendar .fc-row .fc-content-skeleton td, 
#custom_calendar .fc-row .fc-helper-skeleton td{ font-size:16px; color:#525f7f;}
#custom_calendar .fc-content-skeleton table thead tr:first-child td{padding:15px 25px 8px 15px;}
#custom_calendar .fc-content-skeleton table tbody a.fc-day-grid-event {margin-top: 2px; color: #fff; padding: 0; width: 12px; height: 12px; border-radius:80px; font-size:0; float:right;}
#custom_calendar .fc-content-skeleton table tbody tr td.fc-event-container { padding:2px 22px 2px 5px;}
td.fc-widget-content{ border:0;}

#custom_calendar td.fc-day{ border-left:1px solid #e6ebf1 !important;} 
.fc-bg table tbody tr td{ border-top:1px solid #e6ebf1 !important;} 

#calendar-component .profile-head>ul>li:first-child>a{ padding: 0 0 17px; }
#calendar-component .profile-head>ul>li>a{ font-size:14px !important; font-weight:600 !important }
#calendar-component .profile-head>ul>li>a>img{ width:22px; }
#calendar-component .campaigns-links.profile-head>ul>li{ margin:0 25px 0 0 }

.custom_modal_btn_close{text-align: right; padding: 25px 30px;}
.custom_modal_btn_close img { width: 15px; }