.cursor_pointer { cursor: pointer; }
/* Login Page */
.login-alert-msg { text-align: center; max-width: 500px; margin: 0 auto; width: 100%; }
a { color: #0088cc; text-decoration: none; }
a:hover { color: #005580; text-decoration: underline; }
h2 { padding-top: 20px; }
h2:first-of-type { padding-top: 0; }
ul { padding: 0; }
.pagination {     height: auto; margin: 18px 0; text-align: center; display: inherit;}
.pagination ul { display: inline-block;  margin-left: 0; margin-bottom: 0; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); }.pagination li { background:#fff; box-shadow:0 4px 24px 0 rgba(0, 0, 0, .1); display:inline-block;}
.pagination a {float: left; padding: 5px 20px; line-height: 34px; text-decoration: none; color: #4f699d !important; border: 0; border-left-width: 0;}
.pagination a:hover, .pagination .active a { background-color: #6772e566; }
.pagination .active a { color: #999999; cursor: default; }
.pagination .disabled span, .pagination .disabled a, .pagination .disabled a:hover { color: #999999; background-color: transparent; cursor: default; }
.pagination li:first-child a { border-left-width: 1px; -webkit-border-radius: 3px 0 0 3px; -moz-border-radius: 3px 0 0 3px; border-radius: 3px 0 0 3px; }
.pagination li:last-child a { -webkit-border-radius: 0 3px 3px 0; -moz-border-radius: 0 3px 3px 0; border-radius: 0 3px 3px 0; }
.pagination-centered { text-align: center; }
.pagination-right { text-align: right; }
.pager { margin-left: 0; margin-bottom: 18px; list-style: none; text-align: center; *zoom: 1; }
.pager:before, .pager:after { display: table; content: ""; }
.pager:after { clear: both; }
.pager li { display: inline; }
.pager a { display: inline-block; padding: 5px 14px; background-color: #fff; border: 1px solid #ddd; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; }
.pager a:hover { text-decoration: none; background-color: #f5f5f5; }
.pager .next a { float: right; }
.pager .previous a { float: left; }
.pager .disabled a, .pager .disabled a:hover { color: #999999; background-color: #fff; cursor: default; }

.custom-error.input-div{ position:relative;}
.custom-error.input-div input{border-bottom:2px solid red;  }
.custom-error.input-div span{position: absolute; bottom:-18px; left:0; font-size:12px; color:red; font-weight:500;  }

.login-alert-msg{ text-align: center; max-width: 500px; margin: 0 auto; width: 100%; }

.input-div{margin:0 0 13px;}
.input-div label{ display:block; margin:0 0 5px; font-weight:500;}
.input-div input{ border:0; background:transparent; font-size:16px; color:#525f7f; padding:8px 0 10px 0; border-bottom:2px solid #cfcfd5; width:100%; font-weight:600; margin:0 0 8px;}

.terms-conditions{ display:block; position:relative;}
.terms-conditions h2{ margin:0 0 40px; padding:27px 0 40px; font-size:24px; line-height:100%; color:#6772e5; display:block; text-align:center; border-bottom:2px solid #e8e8e8; font-weight:600;}
.terms-point{ display:block; margin:0 0 15px;}
.terms-point h4{ margin:0; padding:0 0 15px; font-size:16px; color:#43458b; line-height:normal; display:block; letter-spacing:0.02em;}
.terms-point p{ margin:0; padding:0; font-size:16px; color:#525f7f; line-height:normal; display:block; letter-spacing:0.02em; font-weight:500;}

#terms-condition.modal-dialog {width:100%; max-width:1200px; margin:50px auto;}
#terms-condition .modal-content{border:0; padding:50px;}
.terms-conditions .close{position:absolute; top:0; right:0; opacity:1;}
.terms-conditions .close svg{fill:#6772e5; width:19px; height:19px;}

.hdr-user .dropdown .dropdown-toggle{ border:0; border-radius:0; background:transparent !important; padding:0; }
.hdr-user .dropdown .dropdown-toggle a span {width:40px; height:40px; background: #000; margin-right:6px; display: inline-block; vertical-align: top; border-radius: 80px;}
.hdr-user .dropdown .dropdown-toggle::after{ background: url(../assets/img/site/down-arrow.png) no-repeat 0 50%; display: inline-block; vertical-align: top; width: 14px; height:40px; margin-left: 6px; content:''; border:0;}
.btn-secondary.focus,
.btn-secondary:focus {box-shadow: none !important;}
.hdr-user .dropdown .dropdown-menu button{ position:relative; padding:0 0 0 48px; font-size:16px; color:#525f7f; font-weight: 500; line-height: 30px;}
.hdr-user .dropdown .dropdown-menu button span{width:30px; height:30px; border-radius:80px; position:absolute; top: 0; left: 0; overflow:hidden; background: #ddd;}
.hdr-user .dropdown .dropdown-menu button i{ position:absolute; top:0; left:0;}
.dropdown-item:focus, .dropdown-item:hover{background:transparent;}
.hdr-user .dropdown .dropdown-menu {margin:18px 0 0;}
.error-div{ font-size:13px; color:red; font-weight:500; }
.txt_error_div{ border: 2px solid red !important; }
.drop_error_div{ border: 3px dotted red !important; }
.Select-control { border: 2px solid rgba(82, 95, 127, .2) !important; padding: 15px 20px; line-height: 26px; color: rgba(82, 95, 127, .5); font-size: 16px; font-weight: 500; width: 100%; border-radius:3px !important; }
.Select-input > input {width:100% !important;}

.select-wrap,
.form-group{margin: 0 0 24px;}
/*.form-group label,
.select-wrap label{display: block; padding: 0 0 12px; margin: 0; font-size: 16px; font-weight: 500; color: #43458b; line-height: 100%;}
.Select.is-clearable .Select-menu-outer{border:2px solid rgba(82, 95, 127, .2) !important; box-shadow: none !important;}
.Select--single{ border:0 !important;}*/

.navigation-div ul li a:hover, 
.navigation-div ul li a.active i{background-position:0 -18px;}
.create-campaign-r-img img{max-width:100%; min-width:280px; }
/* .industry-l-box{ height:272px;} */
.industry-l-box .form-group{     height: 100%; margin: 0; display: table;width: 100%;} 
.industry-l-box .undefined{height: 100%; vertical-align: middle; display: table-cell; width: 100%; text-align: center;}

.hdr-user .dropdown .dropdown-menu{ left: 33px; }
.hdr-user .dropdown-menu a{ padding:0px; }
.hdr-user .dropdown-menu img{ margin-top: -5px; }

.profile-head>ul>li>a.active {
    border-bottom: 3px solid #6772e5;
    color: #6772e5;
    text-decoration: none;
}

/* Campiagn */
  .campiagn_date .react-datepicker-wrapper{ width:100%; display:block; }
  .campiagn_date .react-datepicker__input-container{ display:block }
  .input-wrap-2{ padding:0 }
  /* Left Menu */
  .left-panel{ width:245px !important; }
  .navigation-div ul li a:hover,
  .navigation-div ul li a.active{color:#fff; background:#6772e5; text-decoration:none;}
  
  .navigation-div ul li a{
    font-weight:600;
  }

  .navigation-div ul li a.first_level{
    color: #61697e;
  }

  .navigation-div ul li a.first_level.active,
  .navigation-div ul li a.first_level:hover{
    color: #7e86c2 !important;
    background: none;
  }

/* Plus Action */
  .plus-people.dropdown.dropdown>button,
  .plus-people.dropdown.dropdown>button:active,
  .festival-ftr-r.dropdown.dropdown>button,
  .festival-ftr-r.dropdown.dropdown>button:active{
      padding: 0px;
      background-color: transparent;
      border: none;
  }

  .festival-ftr-r.dropdown .dropdown-menu a{
    color: #595f6f !important;
    font-weight:600;
  }

  .festival-ftr-r.dropdown .dropdown-menu a:hover{
    color:#6772e5 !important;
  }

/* Loader */
  .loader:empty {
    position:fixed;
    top:50%;
    left:50%;
    width: 4em;
    height:4em; margin:-2em 0 0 -2em; 
    border: 0.5em solid #6772e585;
    border-left: 0.5em solid #6772e5;
    border-radius: 50%;
    animation: load8 1.1s infinite linear;
}

  .close-div{top:12px; right:20px;}
  .close-div button{ padding:0; }
  .everypeole-head .dropdown button.btn-secondary{ border:2px solid rgba(82, 95, 127, .5) !important; padding:6px 15px; line-height:18px; font-weight:500; color:#525f7f; background:transparent !important; height:34px; border-radius:0; font-size:14px; }
  .everypeole-head .dropdown button.btn-secondary:hover{ background: #6772e5 !important; color:#fff;border: 2px solid #6772e5 !important; }
  .everypeole-head .dropdown-toggle::after{ display:none; }
  .everypeole-head ul li a{ border:2px solid rgba(82, 95, 127, .5) !important; padding:6px 15px; line-height:18px; font-weight:500; color:#525f7f !important; background:transparent !important; height:34px; border-radius:0; font-size:14px; }
  .everypeole-head ul li a:hover{background: #6772e5 !important; color:#fff !important; }
  .everypeole-head .Select-value{ line-height:18px;}
  
  /*.dropdown:hover .Select-arrow-zone,
  .dropdown:hover .dropdown-arrow,
  .Select.Select--single:hover .Select-arrow-zone {background: url(../assets/img/site/02.png) no-repeat 0 50%}*/
  .everypeole-head-l{position:relative;}
  .MoreFilterLi.dropdown{position:inherit;}
  .MoreFilterLi .dropdown-menu{ min-width:926px; top:10px !important; left: 0px; will-change: transform; transform: inherit !important; padding:30px 20px !important;}
  .MoreFilterLi .dropdown-menu:after{ left:34%;}
  .morefilter-div{ margin:0 0 20px;}
  .morefilter-div label{ font-size:13px; font-weight:600; color:#43458b; line-height:22px; display:block; margin:0 0 5px;}
  .Select-control:hover{box-shadow:none !important;}
  .all-people-content .dropdown-arrow { background:url(../assets/img/site/down-arrow-1.png) no-repeat 0 0 / 10px auto !important; transform:rotate(-180deg); width:10px; height:17px;}
  
  .dropdown-inr{ font-size:14px; font-weight: 500; color: #525f7f !important;}
  
  .select-wrap .Select-control{padding:8px 30px 8px 15px; line-height: 26px; height:46px;}
  .Select {box-shadow:none !important;}
  .Select-control { border: 2px solid #dcdfe5; padding:5px 30px 5px 10px; line-height: 18px; font-weight: 500; color: #525f7f; background: transparent !important; height: 34px; border-radius: 0; font-size: 14px; box-shadow:none !important;  }
  .Select-arrow{display:none;}
  .Select-control > .Select-arrow-zone{padding:0; background: url(../assets/img/site/down-arrow-1.png) no-repeat 0 0; display: inline-block; vertical-align: top; width: 14px; height: 20px; position: absolute;    right: 10px; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); transform: translateY(-50%);}
  .Select-input{ height:auto; padding:0;}
  .Select-placeholder, .Select--single > .Select-control .Select-value{padding:0 30px 0 15px; top: 50%; transform: translateY(-50%); margin:0; line-height:18px; font-weight: 500; color: #525f7f; font-size: 14px;}
  .Select.has-value.Select--single > .Select-control .Select-value .Select-value-label, 
  .Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label{ font-weight:600; color: #525f7f; font-size: 14px; padding-right: 20px;;}
  .everypeole-head-l ul li,
  .everypeole-head-r>ul>li{min-width:110px;}
  .morefilter-div .input-range__label--max,
  .morefilter-div .input-range__label--value,
  .morefilter-div .input-range__label--min{ display:none;}
  .range-wrapper{ position:relative; padding:0 130px 0 8px;}
  .range-div{ border:2px solid rgba(207, 207, 213, .24); line-height:30px; position: absolute; top: 0; right: 0; text-align: center; font-size: 13px; color: #525f7f; font-weight: 500; width: 110px; background: #fff;}
  .range-wrapper .input-range {margin:5px 0; display:inline-block;}
  body .input-range__track{ height:2px; background: rgba(178,178,189,.4);}
  body .input-range__track--active {background: #6772e5 !important;}
  body .input-range__slider{margin-top:-7px; border:0; background: #6772e5 !important; }
.age-dropdown .dropdown-menu{ min-width:350px; padding:20px !important;}
.uploaded_img{ margin: 20px 0 0;}
.uploaded_img .images-preview-wrapper { border: 1px solid #eee; margin: 0 20px 20px 0; text-align: center; width: 84px; height: 84px; display: inline-block; border: 2px solid #dce1eb;
vertical-align: top;}
.uploaded_img .images-preview-wrapper .image-preview img{width:80px; height:80px;}
    
@keyframes load8 {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg); }
}

/*  DropZone */
  .custom_dropzone_div{
    border: 3px dotted #d4d4de;
    width:100%;
    text-align: center;
    padding:60px;
    margin-left:2px;
    height:266px;
  }
  .industry-l-box .images-preview-wrapper{border:0;}
  .industry-l-box .image-preview{padding: 10px; height: 265px; border: 3px dotted #d4d4de;}
  .industry-l-box .image-preview img{max-height:100%;}
  .custom_dropzone_div p{color: #5b6ca2; font-weight: 600; font-size: 14px;}
  .custom_dropzone_div .btn_drop_browse{
    width: 10em;
    padding: 6px;
    border-radius: 50px;
    background-color: #6772e5;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
  }

.login-register-box .input-div{ margin: 0 0 20px}
.input-div input{ margin:0;}
.login-register-box .select-wrap.Select.select-wrap{margin: 0 0 0px; text-align: left}
.login-register-box .select-wrap{text-align: left; position: relative; }
.form-content .select-wrap span.error-div { position: absolute; bottom: -18px; left: 0; font-size: 12px; color: red; font-weight: 500;}
.login-register-box .Select.select-wrap.txt_error_div{ border:none !important; border-bottom:2px solid red !important; }
.login-register-box .select-wrap  .Select-control{ color:#525f7f; font-size: 13px; padding: 5px 0 7px 0; border:0 !important; border-bottom: 2px solid #cfcfd5 !important; line-height:100%;     text-align: left;}
.login-register-box .select-wrap .Select-placeholder, 
.login-register-box .select-wrap .Select--single > .Select-control .Select-value{  line-height: 100%; padding:0; color:#525f7f; font-size:13px}
.login-register-box .select-wrap .Select-input > input {padding: 0; font-size:13px;}
.Select-menu-outer{ font-size:13px; color:#525f7f; text-align:left; font-weight:500;}
.Select-menu-outer a{ padding:10px; font-weight:500; background:transparent !important; }
.Select-menu-outer a:hover{color:#6772e5; background:transparent !important;}

.Select-input input{ border:0; padding:0;}
.everypeole-head .Select-control {border: 2px solid rgba(82, 95, 127, .5) !important;}
.everypeole-head .Select-control .Select-placeholder{line-height: 14px; }
.everypeole-head .Select-control .Select-value-label{    vertical-align: top; line-height: 14px !important;}

.more-cancel-btn{ border:0; padding: 10px;  line-height: 16px; min-width: 110px; text-align: center; font-size: 14px; color: #6772e5; border-radius: 2px; background: #fff; color:#525f7f; font-weight:600;}
.login_page .form-content {height:480px;    margin-bottom:60px;} 
.forgot_pass_page .form-content {height:465px;    margin-bottom:60px;} 

.select-wrap .Select-input input {border: 0; padding: 0; position: absolute; top: 50%; transform: translateY(-50%);}
.morefilter-div .Select-control .Select-placeholder{    color: rgba(82, 95, 127, .5) !important; font-weight: 500 !important; font-size: 14px; font-family: 'Montserrat';}
.everypeole-head .dropdown.show button.btn-secondary { border: 2px solid #6772e5 !important; color: #6772e5;}
.form-content .select-wrap { margin-bottom:20px; }
.login-register-box .select-wrap .Select-control{padding: 0 0 7px 0; height:34px; font-weight:600;}
.login-register-box .select-wrap .Select-input > input,
.login-register-box .select-wrap .Select-placeholder{ font-weight:600; font-size:13px;}

.autocomplete-dropdown-container{ font-weight:600;}
.images-preview-wrapper {border: 1px solid #eee; margin: 0 0 20px; text-align: center;}
.everypeole-head .dropdown.show button.btn-secondary:hover {color: #fff;}

.select-wrap.tag-2 .Select-input{padding: 0 0 0 6px;}