.cursor_pointer { cursor: pointer; }
/* Login Page */
.login-alert-msg { text-align: center; max-width: 500px; margin: 0 auto; width: 100%; }
a { color: #0088cc; text-decoration: none; }
a:hover { color: #005580; text-decoration: underline; }
h2 { padding-top: 20px; }
h2:first-of-type { padding-top: 0; }
ul { padding: 0; }
.pagination { height: 36px; margin: 18px 0; }
.pagination ul { display: inline-block; *display: inline; /* IE7 inline-block hack */ *zoom: 1; margin-left: 0; margin-bottom: 0; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); }
.pagination li { display: inline; }
.pagination a { float: left; padding: 0 14px; line-height: 34px; text-decoration: none; border: 1px solid #ddd; border-left-width: 0; }
.pagination a:hover, .pagination .active a { background-color: #f5f5f5; }
.pagination .active a { color: #999999; cursor: default; }
.pagination .disabled span, .pagination .disabled a, .pagination .disabled a:hover { color: #999999; background-color: transparent; cursor: default; }
.pagination li:first-child a { border-left-width: 1px; -webkit-border-radius: 3px 0 0 3px; -moz-border-radius: 3px 0 0 3px; border-radius: 3px 0 0 3px; }
.pagination li:last-child a { -webkit-border-radius: 0 3px 3px 0; -moz-border-radius: 0 3px 3px 0; border-radius: 0 3px 3px 0; }
.pagination-centered { text-align: center; }
.pagination-right { text-align: right; }
.pager { margin-left: 0; margin-bottom: 18px; list-style: none; text-align: center; *zoom: 1; }
.pager:before, .pager:after { display: table; content: ""; }
.pager:after { clear: both; }
.pager li { display: inline; }
.pager a { display: inline-block; padding: 5px 14px; background-color: #fff; border: 1px solid #ddd; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; }
.pager a:hover { text-decoration: none; background-color: #f5f5f5; }
.pager .next a { float: right; }
.pager .previous a { float: left; }
.pager .disabled a, .pager .disabled a:hover { color: #999999; background-color: #fff; cursor: default; }

.custom-error.input-div{ position:relative;}
.custom-error.input-div input{border-bottom:2px solid red;  }
.custom-error.input-div span{position: absolute; bottom:-14px; left:0; font-size:12px; color:red; }

.login-alert-msg{ text-align: center; max-width: 500px; margin: 0 auto; width: 100%; }

.input-div{margin:0 0 13px;}
.input-div label{ display:block; margin:0 0 5px; font-weight:500;}
.input-div input{ border:0; background:transparent; font-size:16px; color:#525f7f; padding:8px 0 10px 0; border-bottom:2px solid #cfcfd5; width:100%; font-weight:500; margin:0 0 8px;}

.terms-conditions{ display:block; position:relative;}
.terms-conditions h2{ margin:0 0 40px; padding:27px 0 40px; font-size:24px; line-height:100%; color:#6772e5; display:block; text-align:center; border-bottom:2px solid #e8e8e8; font-weight:600;}
.terms-point{ display:block; margin:0 0 15px;}
.terms-point h4{ margin:0; padding:0 0 15px; font-size:16px; color:#43458b; line-height:normal; display:block; letter-spacing:0.02em;}
.terms-point p{ margin:0; padding:0; font-size:16px; color:#525f7f; line-height:normal; display:block; letter-spacing:0.02em; font-weight:500;}

#terms-condition.modal-dialog {width:100%; max-width:1200px; margin:50px auto;}
#terms-condition .modal-content{border:0; padding:50px;}
.terms-conditions .close{position:absolute; top:0; right:0; opacity:1;}
.terms-conditions .close svg{fill:#6772e5; width:19px; height:19px;}

.hdr-user .dropdown .dropdown-toggle{ border:0; border-radius:0; background:transparent !important; }
.hdr-user .dropdown .dropdown-toggle a span {width: 50px; height: 50px; background: #000; margin-left: 8px; display: inline-block; vertical-align: top; border-radius: 80px;}
.hdr-user .dropdown .dropdown-toggle::after{ background: url(../assets/img/site/down-arrow.png) no-repeat 0 0; display: inline-block; vertical-align: top; width: 14px; height: 50px; margin-left: 6px; content:''; border:0;}
.btn-secondary.focus,
.btn-secondary:focus {box-shadow: none !important;}
.hdr-user .dropdown .dropdown-menu button{ position:relative; padding:0 0 0 48px; font-size:16px; color:#525f7f; font-weight: 500; line-height: 30px; margin: 0 0 13px;}
.hdr-user .dropdown .dropdown-menu button span{width:30px; height:30px; border-radius:80px; position:absolute; top: 0; left: 0; overflow:hidden; background: #ddd;}
.hdr-user .dropdown .dropdown-menu button i{ position:absolute; top:0; left:0;}
.hdr-user .dropdown .dropdown-menu button:last-child{margin-bottom:0;}
.dropdown-item:focus, .dropdown-item:hover{background:transparent;}
.hdr-user .dropdown .dropdown-menu {margin:18px 0 0;}
.error-div{ font-size:13px; color:red;} 
.Select-control {    border: 2px solid rgba(82, 95, 127, .2); padding: 15px 20px; line-height: 26px; color: rgba(82, 95, 127, .5); font-size: 16px; font-weight: 500; width: 100%; border-radius: 2px;}
.Select-control input{border:0; padding:0;}
.Select-control .Select-input{    width: 100%; padding: 0; height: 25px;}
.Select-input > input {width:100% !important;}
.Select-placeholder, .Select--single > .Select-control .Select-value{padding: 15px 20px; line-height: 26px; color: #999;}
.Select.has-value.Select--single > .Select-control .Select-value .Select-value-label,
.Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label{color: rgba(82, 95, 127, .5);}
.Select.has-value.Select--single > .Select-control .Select-value .Select-value-label, .Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
    color: rgba(82, 95, 127, .5);
}
.select-wrap,
.form-group{margin: 0 0 24px;}
.form-group label,
.select-wrap label{display: block; padding: 0 0 12px; margin: 0; font-size: 16px; font-weight: 500; color: #43458b; line-height: 100%;}
.Select.is-clearable .Select-menu-outer{border:2px solid rgba(82, 95, 127, .2) !important; box-shadow: none !important;}
.Select--single{ border:0 !important;}

.navigation-div ul li a:hover, 
.navigation-div ul li a.active i{background-position:0 -24px;}
.create-campaign-r-img img{max-width:100%; min-width:280px; }
.industry-l-box{ height:272px;}
.industry-l-box .form-group{     height: 100%; margin: 0; display: table;width: 100%;} 
.industry-l-box .undefined{height: 100%; vertical-align: middle; display: table-cell; width: 100%; text-align: center;}

.hdr-user .dropdown .dropdown-menu{ left: 33px; }
.hdr-user .dropdown-menu a{ padding:0px; }
.hdr-user .dropdown-menu img{ margin-top: -5px; }

.profile-head>ul>li>a.active {
    border-bottom: 3px solid #6772e5;
    color: #6772e5;
    text-decoration: none;
}
.grp_list_img{
    width: 400px;
    height: 218px;
}

.plus-people.dropdown.dropdown>button,
.plus-people.dropdown.dropdown>button:active{
    padding: 0px;
    background-color: transparent;
    border: none;
}