.campaign_form_step2_dropdown .Select-placeholder, 
.campaign_form_step2_dropdown.Select--single > .Select-control .Select-value,
.campaign_form_step2_dropdown.Select--single > .Select-control .Select-value .Select-value-label{ line-height: 27px !important; }
.campaign_form_step2_dropdown .Select-control > .Select-arrow-zone{ top:10px; }
.campaign_form_step2_dropdown .Select-control{ border: 2px solid rgb(220, 223, 229) !important; }