.campaign_form_step2_dropdown .Select-placeholder, 
.campaign_form_step2_dropdown.Select--single > .Select-control .Select-value,
.campaign_form_step2_dropdown.Select--single > .Select-control .Select-value .Select-value-label{ line-height: 27px !important; }
.campaign_form_step2_dropdown .Select-control > .Select-arrow-zone{ top:10px; }
.campaign_form_step2_dropdown .Select-control{ border: 2px solid rgb(220, 223, 229) !important; }

#custom_calendar{
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 20px 26px 3px #dbdee0;
}

.sweet-alert h2{ font-size:22px; }
.sweet-alert .lead{ font-size:20px; }
.sweet-alert span .btn-danger,
.sweet-alert span .btn-default{
    font-size: 16px;
    margin-right: 8px;
    border-radius: 0px;
    border: 1px solid #b5adad;
}

.grp_list_img,.campaign_list_img{
    width: 100%;
    height: 160px;
}

.no_data_found{width:100%; text-align: center }
.no_data_found img{
  width: 75%;
}