.campaign_form_step2_dropdown .Select-control > .Select-arrow-zone{top: 50%; right: 15px;}
.campaign_form_step2_dropdown .Select-control{ border: 2px solid rgb(220, 223, 229) !important; }
.campaign_form_step2_dropdown .Select-placeholder{ font-size: 14px; }
.campaign_form_step2_dropdown .Select-clear-zone,
.campaign_form_step2_dropdown.txt_tag .Select-clear-zone,
.campaign_form_step2_dropdown.txt_tag .Select-arrow-zone{
    display: none;
}
.Select--multi.has-value .Select-input{ vertical-align: top; }
.Select--multi.has-value .Select-input input{ line-height: 20px; }

#custom_calendar{
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 20px 26px 3px #dbdee0;
}
.plus-people .dropdown button.dropdown-item{ font-size:13px !important; }
.plus-people .dropdown button.dropdown-item:hover{ color:#6772e5 !important; }
.places_autocomplete_list{
    padding: 5px;
    font-size: 13px;
    border-left: 2px solid rgba(82, 95, 127, .2);
    border-right: 2px solid rgba(82, 95, 127, .2);
}
.places_autocomplete_list:last-child{ border-bottom: 2px solid rgba(82, 95, 127, .2); }
.places_autocomplete_list:hover{
    color: #6772e5;
}

.sweet-alert h2{ font-size:22px; }
.sweet-alert .lead{ font-size:20px; }
.sweet-alert span .btn-danger,
.sweet-alert span .btn-default{
    font-size: 16px;
    margin-right: 8px;
    border-radius: 0px;
    border: 1px solid #b5adad;
}

.grp_list_img,.campaign_list_img{
    width: 100%;
    height: 160px;
}

.no_data_found{width:100%; text-align: center }

.plus-people button img{ max-width:28px; margin: 5px 15px; }
.Select--multi .Select-value{ margin-top:1px; }
.input-wrap input::placeholder,
.textarea-wrap textarea::placeholder,
.input-wrap textarea::placeholder,
.select-wrap .Select-placeholder{
    color:#a2a2a2;
}

.industry-r .Select .Select-placeholder{ color:#525f7f; font-weight:600 }
.industry-r .industry-description textarea{ font-size: 15px; font-weight: 600; color: #525f7f !important;}
.industry-r .industry-description textarea::placeholder{ color: #525f7f !important; }
.industry-r .industry-description textarea::-moz-placeholder{ color: #525f7f !important; }

.Select.has-value.Select--single > .Select-control .Select-value .Select-value-label{ font-weight:600 !important;}
.alert-custom-tostify{ background-color:#f44336bd}
.success-custom-tostify{ background:#6772e5 !important; color:#fff !important}
.Toastify__close-button.Toastify__close-button--default{ color:#fff !important; margin:13px 6px !important; }
/**************************************************************
                            Checkout
***************************************************************/                        
    .cart-table table.table thead th{
        font-size: 13px;
        font-weight: 600;
    }
    .cart-table table.table tbody tr td{ font-size: 14px; font-weight:600 }
    .add_credit_card_popup .modal-body{ padding: 10px 60px 40px !important; }
    .popup_modal_form{ text-align: left; padding:10px 25px; }
    .popup_modal_form .input-wrap label{ font-weight: 600; }
    .popup_modal_form .submit-btn{ padding-top:15px; text-align:center}
    .popup_modal_form .submit-btn .round-btn{ min-width: 180px; }
    .popup_modal_form span{ font-size:13px; font-weight: 600; }

    #add_credit_card_form .calendar-container{ 
        width: 275px;
        padding: 4px;
        background-color: #f3f3f3;
        right:auto;
        left:auto;
        border: 2px solid #dcdfe5;
    }
    #add_credit_card_form #txt_card_date{
        letter-spacing: 1px;
    }
    #add_credit_card_form .calendar-container .col_mp{
        font-size: 15px;
        font-weight: 500;
        padding: 7px;
    }
    #add_credit_card_form .calendar-container .col_mp.selected_cell,
    #add_credit_card_form .calendar-container .col_mp:hover {
        background-color: #6772e5;
    }
    .popup_modal_form .error_div{
        background-color: #f443364a;
        border: 1px solid red;
        border-radius: 3px;
        padding: 10px;
        font-size: 13px;
        color: #525f7f;
        font-weight: 500;
        display:none;
    }
    .popup_modal_form .error_div ul{ margin-bottom: 0px; }
    .popup_modal_form .error_div ul li{ margin-left: 20px; }
    

/* Not Found */
    .notfound-main-div{ padding:10em; text-align: center; width: 80%; margin: 0 10em; }
    .notfound-inner-box{ box-shadow: 0px 2px 10px 2px #ccc; background-color: #fbfbfb; border-radius: 5px; padding: 20px; }
    .notfound-inner-box h1,
    .notfound-inner-box h2{ font-family: inherit; }
    .notfound-inner-box h2{ font-size:22px; color:#b8b9c0 }

/*****************************************************************
                        Custom Scroll
*****************************************************************/
  /*  body::-webkit-scrollbar { width: 0.5em; }
    body::-webkit-scrollbar-track { box-shadow: inset 0 0 6px rgba(0,0,0,0.3); }
    body::-webkit-scrollbar-thumb { background-color: #6772e5; outline: 1px solid #6772e5; }*/

    .custom_scrollbar::-webkit-scrollbar { width: 0.1em; }
    .custom_scrollbar::-webkit-scrollbar-track { box-shadow: inset 0 0 6px rgba(0,0,0,0.3); }
    .custom_scrollbar::-webkit-scrollbar-thumb { background-color: #6772e5; outline: 1px solid #6772e5; }

.add_grp_popup_select .Select-value,
.add_grp_popup_select .Select-placeholder,
.add_grp_popup_select .Select-input{ text-align: left;}
.add_grp_popup_select .Select-input{ display: block !important; }

.alertMessagePopup .modal-body{padding: 35px 40px !important;}
.alertMessagePopup h2{text-align: left;}
.alertMessagePopup a{ float: right;}
.alertMessagePopup a.round-btn{ min-width:100px !important; width:100px !important; }

/*****************************************************************
                        Date Picker
*****************************************************************/
    .react-datepicker__header{
        background-color: #6772e5;
    }

    .react-datepicker__header .react-datepicker__current-month,
    .react-datepicker__header .react-datepicker__day-name{
        color:#fff;
    }

    .react-datepicker__day--selected, 
    .react-datepicker__day--in-selecting-range, 
    .react-datepicker__day--in-range,
    .react-datepicker__day--keyboard-selected,
    .react-datepicker__day--keyboard-selected:hover{
        background-color: #6772e5;
    }

    .react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle, 
    .react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle::before {
        border-bottom-color: #6772e5;
}


/*****************************************************************
                        Calendar
*****************************************************************/
#custom_calendar button.fc-next-button,
#custom_calendar button.fc-prev-button{ background:transparent; border:0; box-shadow:none;}
#custom_calendar .fc-center h2{ font-size:18px;line-height: 36px;}
#custom_calendar th.fc-day-header { border:0; background:#e6ebf1; font-size:16px; color:#9b9c9c; padding:25px 25px 12px 15px; text-align:right; font-weight:400;}
#custom_calendar td.fc-head-container,
#custom_calendar .fc td, .fc th { border:0 !important;}
#custom_calendar .fc-row .fc-content-skeleton td, 
#custom_calendar .fc-row .fc-helper-skeleton td{ font-size:16px; color:#525f7f;}
#custom_calendar .fc-content-skeleton table thead tr:first-child td{padding:15px 25px 8px 15px;}
#custom_calendar .fc-content-skeleton table tbody a.fc-day-grid-event {margin-top: 2px; color: #fff; padding: 0; width: 12px; height: 12px; border-radius:80px; font-size:0; float:right;}
#custom_calendar .fc-content-skeleton table tbody tr td.fc-event-container { padding:2px 22px 2px 5px;}
td.fc-widget-content{ border:0;}

#custom_calendar td.fc-day{ border-left:1px solid #e6ebf1 !important;} 
.fc-bg table tbody tr td{ border-top:1px solid #e6ebf1 !important;} 

#calendar-component .profile-head>ul>li:first-child>a{ padding: 0 0 17px; }
#calendar-component .profile-head>ul>li>a{ font-size:14px !important; font-weight:600 !important }
#calendar-component .profile-head>ul>li>a>img{ width:22px; }
#calendar-component .campaigns-links.profile-head>ul>li{ margin:0 25px 0 0 }

.custom_modal_btn_close{text-align: right; padding: 25px 30px;}
.custom_modal_btn_close img { width: 15px; }

.inspirations-img ul{ overflow: hidden; overflow-x:scroll; }
.inspirations-img .custom_scrollbar::-webkit-scrollbar { height: 5px; }
.inspirations-img .custom_scrollbar::-webkit-scrollbar-track { box-shadow: inset 0 0 6px rgba(0,0,0,0.3); }
.inspirations-img .custom_scrollbar::-webkit-scrollbar-thumb { background-color: #6772e5; outline: 1px solid #6772e5; }

.fc-scroller::-webkit-scrollbar { width: 0.5em; }
.fc-scroller::-webkit-scrollbar-track { box-shadow: inset 0 0 6px rgba(0,0,0,0.3); }
.fc-scroller::-webkit-scrollbar-thumb { background-color: #e6ebf1; outline: 1px solid #e6ebf1; }
.fc-row.fc-widget-header{ margin-right:0px !important;}

#eventPopover_modal{ width:300px; margin-top:15% }
#eventPopover_modal .modal-content{ border: none !important;}
#eventPopover_modal .contents h2,
#eventPopover_modal .contents p{
    font-size: 15px;
    font-weight: 500;
}
#eventPopover_modal .contents h2{ color: #5e667b }
#eventPopover_modal .contents p .platform{ color: #bfc4ca !important; }
#eventPopover_modal .contents p .days{ color:#6772e5b8 !important; float:right }
#eventPopover_modal .contents .btn_add_user{ border: 2px solid #5e667bb3; padding: 6px 46px; border-radius: 3px; text-align: center; color: #5e667bb3;}

/* Analytics Stats Filtration  */
    .stats_age_dropdown { min-width:0px !important; }
    .stats_age_dropdown .dropdown button.btn-secondary,
    .stats_filter_li4 button.btn-secondary{ padding: 0 15px !important; border-radius: 3px !important; font-weight: 600 !important; }
    .stats_age_dropdown .dropdown-menu,
    .stats_filter_li4 .dropdown-menu{ padding:50px !important; }
    .stats_age_dropdown .range-div{ width: 80px !important; }
    .stats_age_dropdown.active,
    .stats_filter_li4.active{ background-color: #6772e5; }
    .stats_age_dropdown.active .dropdown-toggle,
    .stats_filter_li4.active .dropdown-toggle{ color:#fff !important;}
    .stats_age_dropdown .dropdown-menu:after{ left: 11px; top:-15px}
    .add_all_results_dropdown .dropdown-menu:after{ right: 5px; left: auto; top: -14px; }
    .stats_filter_li3 .dropdown-menu:after{ left: 35px; top:-15px}

    .stats_age_dropdown .bdr-btn,
    .stats_filter_li4 .bdr-btn{
        border: 2px solid #6772e5;
        padding: 8px;
        line-height: 16px;
        min-width: 90px;
        text-align: center;
        font-size: 13px;
        border-radius: 2px;
        font-weight: 600;
    }
    .stats_filter_li2,.stats_filter_li3{ min-width: 90px !important; }
    .stats_gender_dropdown .Select-arrow-zone{ display:none; }
    .stats_gender_dropdown .Select-control,
    .stats_filter_li4 .Select-control{ 
        padding:5px 10px; 
        border-radius:3px; 
    }
    .stats_gender_dropdown .Select-placeholder,
    .stats_gender_dropdown .Select-value,
    .stats_filter_li4 .Select-placeholder{
        text-overflow: initial !important; 
    }

    .stats_gender_dropdown .Select-placeholder,
    .stats_gender_dropdown .Select-value .Select-value-label,
    .stats_filter_li4 .Select-placeholder{ 
        font-weight:600 !important; 
    }
    .stats_filter_li3 .dropdown-menu{ padding:35px !important; }
    .stats_filter_li3 .dropdown .dropdown-toggle{ white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 115px;}
    .stats_filter_li3 a{ font-size: 13px !important; line-height: 20px !important; font-weight: 600 !important; border-radius: 3px !important; }
    .stats_filter_li4 .dropdown-menu:after{ left:36% !important; }
    .stats_filter_li4 .Select-control{ border: 2px solid #b5b7be47 !important; }
    .stats_filter_li4 .Select-placeholder{ color: rgba(181, 183, 190,0.6) !important }
    .add_all_results_dropdown .dropdown-menu { padding:10px !important; top:5px !important; left:-9px !important;}
    .add_all_results_dropdown .dropdown-item{ font-size:13px; font-weight:600; padding:5px 30px 0px 10px !important; }
    .add_all_results_dropdown .dropdown button.btn-secondary { line-height:20px !important; }
    .add_all_results_dropdown .dropdown.show button.btn-secondary,
    .add_all_results_dropdown .dropdown button.btn-secondary:hover{ background-color: transparent !important; color: #525f7f !important; border: 2px solid #9ca5b8 !important; }
    .add_all_results_dropdown .dropdown .dropdown-item:hover{ color:#6772e5 }

/* ANALYTICS */
    .btn_add_compare.btn_disable{ cursor: no-drop; border: 2px solid #bcc3d0 !important; color: #bcc3d0 !important; }
    .btn_add_compare.btn_disable:hover{ background: transparent !important; color: #bcc3d0 !important; }
    .btn_add_compare{ padding: 0 20px !important; line-height: 30px !important; font-weight: 600 !important; border-radius: 3px !important; }
    .btn_close_compare{width: 25px; margin-top: 2px;}
    
    .analytics-body .right-box-head a{ font-size: 13px; font-weight: 600;}
    .timeing-dropdown .btn.btn-secondary,
    .timeing-dropdown .btn.btn-secondary:active,
    .social-dropdown .btn.btn-secondary,
    .social-dropdown .btn.btn-secondary:active{ background-color: transparent; color:#525f7f; font-weight:600; font-size: 13px; padding:0px; border:none}
    .graph-img .y.axis,
    .graph-img .x.axis .tick line,
    .graph-img .x.axis path.domain {
        display:none !important;
    }

    .graph-img .recharts-wrapper{ margin-bottom:-30px }
    .graph-img .recharts-layer.recharts-cartesian-axis.recharts-xAxis.xAxis line,
    .graph-img .recharts-layer.recharts-cartesian-axis-tick line{
        display: none;
    }
    .graph-img .recharts-layer.recharts-cartesian-axis-tick text {
        padding-top:10px;
        font-size: 14px;
        font-weight: 600;
        color: #525f7f;
    }
    .recharts-tooltip-wrapper { box-shadow: 0 0 30px 0 #52649c59; background: #fff; border-radius: 3px; padding: 10px; position:relative; z-index:100; width:80px; height:auto; text-align: left; left:-50px !important}
    .recharts-tooltip-wrapper .graph.custom-tooltip .label{  font-weight:600; font-size:14px; }
    .recharts-tooltip-wrapper:after{content:''; width:0;height:0; border-left:10px solid transparent; border-right:10px solid transparent; border-top:10px solid #fff; position: absolute; top:100%; left:50%; transform:translateX(-50%);}
    .graph-img svg>path {fill:transparent !important;}
    .graph-img svg a path{fill:#6772e6 !important;}

/* Partnership Program */
    .joined_ref_chart .recharts-layer.recharts-cartesian-axis-tick text tspan { font-size:10px; font-weight: bold }
    .joined_ref_chart .recharts-layer.recharts-cartesian-axis-tick .recharts-cartesian-axis-tick-line,
    .joined_ref_chart .recharts-layer.recharts-cartesian-axis.recharts-yAxis.yAxis .recharts-cartesian-axis-line{ display:none; }
    .joined_ref_chart .chart_summary{ margin: 2em 3em 0; font-size: 12px; font-weight: 700; letter-spacing:1px;}
    .joined_ref_chart .chart_summary .chart_heading{ color: #546180}
    .joined_ref_chart .chart_summary .chart_data{ color: #6772e5; font-size:11px}
    .joined_ref_chart .recharts-tooltip-wrapper{ padding:0px !important; }
    .joined_ref_chart .recharts-tooltip-wrapper .custom-tooltip{padding: 5px 15px; text-align: center; background:#525f7f; border-radius:3px; }
    .joined_ref_chart .recharts-tooltip-wrapper .custom-tooltip p { color:#fff; font-size:9px !important; letter-spacing: 1px; margin-bottom: 0px; font-weight:500}
    .joined_ref_chart .recharts-tooltip-wrapper::after{border-top: 10px solid #525f7f !important; }

    .revenue_ref_chart .recharts-layer.recharts-cartesian-axis-tick text tspan { font-size:10px; font-weight: bold }
    .revenue_ref_chart .recharts-layer.recharts-cartesian-axis-tick .recharts-cartesian-axis-tick-line,
    .revenue_ref_chart .recharts-layer.recharts-cartesian-axis.recharts-yAxis.yAxis .recharts-cartesian-axis-line{ display:none; }
    .revenue_ref_chart .chart_summary{ margin: 2em 3em 0; font-size: 12px; font-weight: 700; letter-spacing:1px;}
    .revenue_ref_chart .chart_summary .chart_heading{ color: #546180}
    .revenue_ref_chart .chart_summary .chart_data{ color: #6772e5; font-size:11px}
    .revenue_ref_chart svg>path {fill:transparent !important;}
    .revenue_ref_chart svg a path{fill:#6772e6 !important;}
    .revenue_ref_chart .recharts-tooltip-wrapper{ padding:0px !important; }
    .revenue_ref_chart .recharts-tooltip-wrapper .custom-tooltip{padding: 5px 15px; text-align: center; background:#525f7f; border-radius:3px; }
    .revenue_ref_chart .recharts-tooltip-wrapper .custom-tooltip p { color:#fff; font-size:9px !important; letter-spacing: 1px; margin-bottom: 0px; font-weight:500}
    .revenue_ref_chart .recharts-tooltip-wrapper::after{border-top: 10px solid #525f7f !important; }

.how-much .select-wrap{ margin-bottom:0;}
.how-much .input-2 input { width:56%;}
.how-much .input-2 .select-wrap  { margin-left:auto; width:40%;}
.select-wrap .error-div{position: absolute; }
.how-much .select-wrap div .Select-control { position: relative !important; }
.no_data_found{ text-align:center;    display: inline-block; margin: 100px 0 0;}
.no_data_found img{ width:100px; }
.no_data_found p{ display:block; color: #4f699d; font-size: 24px; line-height: 100%; font-weight: 500; margin: 15px 0 0; padding:0;}
.alert-danger{ font-weight:400; }

.cart-table table.table tbody tr td:nth-child(6){ padding-right:0;text-align: right;}

.btn_checkout_pay.round-btn{ margin-left:10px;}
.round-btn.next-btn.btn_checkout_continue{ margin-left:0;}
.cart-table table.table tbody tr td:nth-child(6) img{ max-width:16px;} 