.campaign_form_step2_dropdown .Select-control > .Select-arrow-zone{top: 50%; right: 15px;}
.campaign_form_step2_dropdown .Select-control{ border: 2px solid rgb(220, 223, 229) !important; }
.campaign_form_step2_dropdown .Select-placeholder{ font-size: 13px; }
.campaign_form_step2_dropdown .Select-clear-zone,
.campaign_form_step2_dropdown.txt_tag .Select-clear-zone,
.campaign_form_step2_dropdown.txt_tag .Select-arrow-zone{
    display: none;
}
.Select--multi.has-value .Select-input{ vertical-align: top; }
.Select--multi.has-value .Select-input input{ line-height: 20px; }

#custom_calendar{
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 20px 26px 3px #dbdee0;
}
.plus-people .dropdown button.dropdown-item{ font-size:13px !important; }
.plus-people .dropdown button.dropdown-item:hover{ color:#6772e5 !important; }
.places_autocomplete_list{
    padding: 5px;
    font-size: 13px;
    border-left: 2px solid rgba(82, 95, 127, .2);
    border-right: 2px solid rgba(82, 95, 127, .2);
}
.places_autocomplete_list:last-child{ border-bottom: 2px solid rgba(82, 95, 127, .2); }
.places_autocomplete_list:hover{
    color: #6772e5;
}

.sweet-alert h2{ font-size:22px; }
.sweet-alert .lead{ font-size:20px; }
.sweet-alert span .btn-danger,
.sweet-alert span .btn-default{
    font-size: 16px;
    margin-right: 8px;
    border-radius: 0px;
    border: 1px solid #b5adad;
}

.grp_list_img,.campaign_list_img{
    width: 100%;
    height: 160px;
}

.no_data_found{width:100%; text-align: center }

.plus-people button img{ max-width:28px; margin: 5px 15px; }
.Select--multi .Select-value{ margin-top:1px; }

.cart-table table.table thead th{
    font-size: 13px;
    font-weight: 600;
}

/* Not Found */
    .notfound-main-div{ padding:10em; text-align: center; width: 80%; margin: 0 10em; }
    .notfound-inner-box{ box-shadow: 0px 2px 10px 2px #ccc; background-color: #fbfbfb; border-radius: 5px; padding: 20px; }
    .notfound-inner-box h1,
    .notfound-inner-box h2{ font-family: inherit; }
    .notfound-inner-box h2{ font-size:22px; color:#b8b9c0 }

/*****************************************************************
                        Custom Scroll
*****************************************************************/
  /*  body::-webkit-scrollbar { width: 0.5em; }
    body::-webkit-scrollbar-track { box-shadow: inset 0 0 6px rgba(0,0,0,0.3); }
    body::-webkit-scrollbar-thumb { background-color: #6772e5; outline: 1px solid #6772e5; }*/

    .custom_scrollbar::-webkit-scrollbar { width: 0.1em; }
    .custom_scrollbar::-webkit-scrollbar-track { box-shadow: inset 0 0 6px rgba(0,0,0,0.3); }
    .custom_scrollbar::-webkit-scrollbar-thumb { background-color: #6772e5; outline: 1px solid #6772e5; }

.add_grp_popup_select .Select-value,
.add_grp_popup_select .Select-placeholder,
.add_grp_popup_select .Select-input{ text-align: left;}
.add_grp_popup_select .Select-input{ display: block !important; }

.alertMessagePopup .modal-body{padding: 35px 40px !important;}
.alertMessagePopup h2{text-align: left;}
.alertMessagePopup a{ float: right;}
.alertMessagePopup a.round-btn{ min-width:100px !important; width:100px !important; }

/*****************************************************************
                        Date Picker
*****************************************************************/
    .react-datepicker__header{
        background-color: #6772e5;
    }

    .react-datepicker__header .react-datepicker__current-month,
    .react-datepicker__header .react-datepicker__day-name{
        color:#fff;
    }

    .react-datepicker__day--selected, 
    .react-datepicker__day--in-selecting-range, 
    .react-datepicker__day--in-range,
    .react-datepicker__day--keyboard-selected,
    .react-datepicker__day--keyboard-selected:hover{
        background-color: #6772e5;
    }

    .react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle, 
    .react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle::before {
        border-bottom-color: #6772e5;
}


/*****************************************************************
                        Calendar
*****************************************************************/
#custom_calendar button.fc-next-button,
#custom_calendar button.fc-prev-button{ background:transparent; border:0; box-shadow:none;}
#custom_calendar .fc-center h2{ font-size:18px;line-height: 36px;}
#custom_calendar th.fc-day-header { border:0; background:#e6ebf1; font-size:16px; color:#9b9c9c; padding:25px 25px 12px 15px; text-align:right; font-weight:400;}
#custom_calendar td.fc-head-container,
#custom_calendar .fc td, .fc th { border:0 !important;}
#custom_calendar .fc-row .fc-content-skeleton td, 
#custom_calendar .fc-row .fc-helper-skeleton td{ font-size:16px; color:#525f7f;}
#custom_calendar .fc-content-skeleton table thead tr:first-child td{padding:15px 25px 8px 15px;}
#custom_calendar .fc-content-skeleton table tbody a.fc-day-grid-event {margin-top: 2px; color: #fff; padding: 0; width: 12px; height: 12px; border-radius:80px; font-size:0; float:right;}
#custom_calendar .fc-content-skeleton table tbody tr td.fc-event-container { padding:2px 22px 2px 5px;}
td.fc-widget-content{ border:0;}

#custom_calendar td.fc-day{ border-left:1px solid #e6ebf1 !important;} 
.fc-bg table tbody tr td{ border-top:1px solid #e6ebf1 !important;} 

#calendar-component .profile-head>ul>li:first-child>a{ padding: 0 0 17px; }
#calendar-component .profile-head>ul>li>a{ font-size:14px !important; font-weight:600 !important }
#calendar-component .profile-head>ul>li>a>img{ width:22px; }
#calendar-component .campaigns-links.profile-head>ul>li{ margin:0 25px 0 0 }

.custom_modal_btn_close{text-align: right; padding: 25px 30px;}
.custom_modal_btn_close img { width: 15px; }

.inspirations-img ul{ overflow: hidden; overflow-x:scroll; }
.inspirations-img .custom_scrollbar::-webkit-scrollbar { height: 5px; }
.inspirations-img .custom_scrollbar::-webkit-scrollbar-track { box-shadow: inset 0 0 6px rgba(0,0,0,0.3); }
.inspirations-img .custom_scrollbar::-webkit-scrollbar-thumb { background-color: #6772e5; outline: 1px solid #6772e5; }

.fc-scroller::-webkit-scrollbar { width: 0.5em; }
.fc-scroller::-webkit-scrollbar-track { box-shadow: inset 0 0 6px rgba(0,0,0,0.3); }
.fc-scroller::-webkit-scrollbar-thumb { background-color: #e6ebf1; outline: 1px solid #e6ebf1; }
.fc-row.fc-widget-header{ margin-right:0px !important;}

#eventPopover_modal{ width:300px; margin-top:15% }
#eventPopover_modal .modal-content{ border: none !important;}
#eventPopover_modal .contents h2,
#eventPopover_modal .contents p{
    font-size: 15px;
    font-weight: 500;
}
#eventPopover_modal .contents h2{ color: #5e667b }
#eventPopover_modal .contents p .platform{ color: #bfc4ca !important; }
#eventPopover_modal .contents p .days{ color:#6772e5b8 !important; float:right }
#eventPopover_modal .contents .btn_add_user{ border: 2px solid #5e667bb3; padding: 6px 46px; border-radius: 3px; text-align: center; color: #5e667bb3;}

/* Analytics Stats Filtration  */
    .stats_age_dropdown { min-width:0px !important; }
    .stats_age_dropdown .dropdown button.btn-secondary,
    .stats_filter_li4 button.btn-secondary{ padding: 0 15px !important; border-radius: 3px !important; font-weight: 600 !important; }
    .stats_age_dropdown .dropdown-menu,
    .stats_filter_li4 .dropdown-menu{ padding:50px !important; }
    .stats_age_dropdown .range-div{ width: 80px !important; }
    .stats_age_dropdown .bdr-btn,
    .stats_filter_li4 .bdr-btn{
        border: 2px solid #6772e5;
        padding: 8px;
        line-height: 16px;
        min-width: 90px;
        text-align: center;
        font-size: 13px;
        border-radius: 2px;
        font-weight: 600;
    }
    .stats_filter_li2,.stats_filter_li3{ min-width: 90px !important; }
    .stats_gender_dropdown .Select-arrow-zone{ display:none; }
    .stats_gender_dropdown .Select-control,
    .stats_filter_li4 .Select-control{ 
        padding:5px 10px; 
        border-radius:3px; 
    }
    .stats_gender_dropdown .Select-placeholder,
    .stats_gender_dropdown .Select-value,
    .stats_filter_li4 .Select-placeholder{
        text-overflow: initial !important; 
    }

    .stats_gender_dropdown .Select-placeholder,
    .stats_gender_dropdown .Select-value .Select-value-label,
    .stats_filter_li4 .Select-placeholder{ 
        font-weight:600 !important; 
    }

    .stats_filter_li3 a{ font-size: 13px !important; line-height: 20px !important; font-weight: 600 !important; border-radius: 3px !important; }
    .stats_filter_li4 .dropdown-menu:after{ left:33% !important; }
    .stats_filter_li4 .Select-control{ border: 2px solid #b5b7be47 !important; }
    .stats_filter_li4 .Select-placeholder{ color: rgba(181, 183, 190,0.6) !important }
    .btn_add_compare{ padding: 0 20px !important; line-height: 30px !important; font-weight: 600 !important; border-radius: 3px !important; }

    .btn_close_compare{width: 25px; margin-top: 2px;}
    .btn_disable{ cursor: no-drop; border: 2px solid rgba(82, 95, 127, .2) !important; color: rgba(82, 95, 127, .2) !important; }
    .btn_disable:hover{ background: transparent !important; }
.graph-img .y.axis,
.graph-img .x.axis .tick line,
.graph-img .x.axis path.domain {
    display:none !important;
}

.graph-img .x.axis .tick text {
    font-size: 14px;
    font-weight: 500;
    color: red;
}