/* @import "base/vars";
@import "base/reset";
@import "base/app"; */

@import "campaign/bootstrap.min.css";
@import "campaign/reactSelect.css";
@import "campaign/react-datepicker.css";
@import "campaign/fullCalender.css";
@import "campaign/style.css";
@import "campaign/custom.css";
@import "campaign/custom_pav.css";
@import "campaign/responsive.css";
@import "campaign/inputRange.css";
@import "campaign/react-month-picker-input.css";
/* @import "react-input-range/lib/css/index.css" */


#group-popup.modal-dialog {
    max-width: 770px;
    background: #fff;
    border: 0;
    padding: 75px 85px 54px;
}